<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wenhao.product.property.update.mapper.ProductSkuPropertyUpdateMapper">

    <resultMap id="ProductSkuResultMap" type="com.github.wenhao.product.spu.entity.po.ProductSku">
        <id column="id" property="id"/>
        <result column="spu_id" property="spuId"/>
        <result column="properties" property="properties"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="price" property="price"/>
        <result column="market_price" property="marketPrice"/>
        <result column="cost_price" property="costPrice"/>
        <result column="bar_code" property="barCode"/>
        <result column="pic_url" property="picUrl"/>
        <result column="stock" property="stock"/>
        <result column="weight" property="weight"/>
        <result column="volume" property="volume"/>
        <result column="first_brokerage_price" property="firstBrokeragePrice"/>
        <result column="second_brokerage_price" property="secondBrokeragePrice"/>
        <result column="sales_count" property="salesCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 批量更新商品SKU -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE product_sku
            SET properties = #{item.properties},
                update_time = #{item.updateTime},
                updater = #{item.updater}
            WHERE id = #{item.id} AND deleted = 0
        </foreach>
    </update>

    <!-- 根据属性项编号查询使用的SKU数量 -->
    <select id="countByPropertyId" resultType="java.lang.Long">
        SELECT COUNT(*) FROM product_sku
        WHERE deleted = 0
        AND JSON_CONTAINS(properties, JSON_OBJECT('propertyId', #{propertyId}))
    </select>

</mapper>